# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
#import libraries
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
#read data
crime=pd.read_table('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv',sep=',')

### Step 4. What is the type of the columns?

In [3]:
#describe the data type of each column
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
#changing the year to datatime64
crime['Year'] =pd.to_datetime(crime['Year'],format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [5]:
#setting the year column as index
crime=crime.set_index('Year')

### Step 7. Delete the Total column

In [6]:
#deleting the Total columns
crime=crime.drop(['Total'],axis=1)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
#grouping by decades
crime.groupby((crime.index.year)//10).sum().drop(['Population'],axis=1)

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,
196,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
197,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
198,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
199,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
200,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
201,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the most dangerous decade to live in the US?

In [8]:
#shows the most dangerous decade to live in US
crime.groupby((crime.index.year)//10).sum().drop(['Population'],axis=1).mean(axis=1).sort_values(ascending=False)

Year
199    3.035141e+07
198    2.913852e+07
200    2.553653e+07
197    2.244260e+07
201    1.114131e+07
196    1.095463e+07
dtype: float64