# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
#creating a random series
s1=pd.Series(np.random.randint(1,4,size=100))
s2=pd.Series(np.random.randint(1,3,size=100))
s3=pd.Series(np.random.randint(10000,30000,size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
#making a datafrmae
df=pd.DataFrame([s1,s2,s3]).T

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
#changing columns names
df.columns=['bedrs','bathrs','price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
#creating a dataframe with 1 column of 3 series
bigcolumn=pd.DataFrame(pd.concat([s1,s2,s3]))

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
#yes
bigcolumn

        0
0       1
1       1
2       2
3       1
4       3
..    ...
95  19922
96  23658
97  22261
98  28441
99  25729

[300 rows x 1 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
#reseting index
bigcolumn.reset_index(drop=True)

         0
0        1
1        1
2        2
3        1
4        3
..     ...
295  19922
296  23658
297  22261
298  28441
299  25729

[300 rows x 1 columns]