# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
#importing libraries
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
#importing data
drinks=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv',sep=',')

### Step 4. Which continent drinks more beer on average?

In [3]:
#cheking beer consumption on average
drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [4]:
#shows the statistics for wine consumption 
drinks.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [5]:
#shows the average alchol consumption 
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [6]:
#shows the median alcohol consumption 
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [7]:
#describe the spirit serving
drinks.groupby('continent')['spirit_servings'].describe()
#or
drinks.groupby('continent')['spirit_servings'].agg(['mean','min','max'])

           count        mean        std   min    25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0   1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0   1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0  81.00  122.0  173.00  373.0
OC          16.0   58.437500  70.504817   0.0  18.00   37.0   65.25  254.0
SA          12.0  114.750000  77.077440  25.0  65.75  108.5  148.75  302.0