# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
#importing libraries
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
#reading data
iris=pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',sep=',',header=None)

### Step 4. Create columns for the dataset

In [3]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']

### Step 5.  Is there any missing value in the dataframe?

In [4]:
#No
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [5]:
#setting the values of the 10th :29th to Nan
iris.loc[9:28,'petal_length']=None

### Step 7. Good, now lets substitute the NaN values to 1.0

In [6]:
#making the Nan values =1.0
iris.fillna(1.0,inplace=True)

### Step 8. Now let's delete the column class

In [7]:
#delete the class column
iris=iris.drop(columns='class')

### Step 9.  Set the first 3 rows as NaN

In [8]:
#setting the first 3 columns as Nan
iris.loc[:2]=None

### Step 10.  Delete the rows that have NaN

In [9]:
#deleting the NaN values
iris=iris.dropna()

### Step 11. Reset the index so it begins with 0 again

In [10]:
#reseting index
iris=iris.reset_index(drop='index')

### BONUS: Create your own question and answer it.