# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
#import libraries
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
#read data
wine=pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',sep=',',header=None)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [3]:
#dropping the columns
wine=wine.drop(columns=[0,3,6,8,10,12,13])

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [4]:
#rename the columns
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [5]:
#changing the values of the first 3 rows in alcohol to NaN
wine['alcohol'].loc[:2]=None

C:\Users\Samy\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [6]:
#changing the values of the 3rd and 4th rows to NaN
wine['magnesium'].loc[2:3]=None

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [7]:
#fill the values of nan of alcohol to 10 and magnesium to 100
wine.alcohol=wine.alcohol.fillna(10)
wine.magnesium=wine.magnesium.fillna(100)

### Step 9. Count the number of missing values

In [8]:
#checking for Nan values
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [9]:
#creating Nan random values
rand=pd.np.random.randint(10,size=10)

<ipython-input-9-31946aa6589a>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rand=pd.np.random.randint(10,size=10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [10]:
#changing the values of the random rows to Nan
wine.loc[rand]=None

### Step 12.  How many missing values do we have?

In [11]:
#counting NaN values
wine.isnull().sum().sum()

49

### Step 13. Delete the rows that contain missing values

In [12]:
#droping NaNs
wine=wine.dropna()

### Step 14. Print only the non-null values in alcohol

In [13]:
#printing the not null values
wine['alcohol'].loc[wine.alcohol.notna()]

0      10.00
2      10.00
7      14.06
10     14.10
11     14.12
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: float64

In [14]:
#already droped the Nan values so no need to check
wine['alcohol']

0      10.00
2      10.00
7      14.06
10     14.10
11     14.12
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [15]:
#resseting the index
wine=wine.reset_index(drop='index')

### BONUS: Create your own question and answer it.